.hotgame__title,
.advertisement__title {
  font-size: 15px;
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: none;
    color: #ff0000;
    margin-left: 100px;
  }
  25% {
    transform: rotateY(0.5turn) scale(0.75, 0.75);
    color: #fff200;
    margin-left: 200px;
  }
  50% {
    transform: rotateY(0.75turn) scale(0.5, 0.5);
    color: #5aff00;
    margin-right: 300px;
  }
  75% {
    transform: rotateY(0.5turn) scale(0.75, 0.75);
    color: #0065ff;
    margin-right: 200px;
  }
  100% {
    transform: none;
    color: #c300ff;
    margin-right: 100px;
  }
}
.advertisement i {
  display: flex;
  justify-content: center;
  font-size: 250px;
  color: #009fff;
  animation: spin 5s linear infinite;
}

.hotgame__title {
  border-top: 1px solid #f7f7f7;
  padding-top: 20px;
}

.hotgame__list {
  margin: 30px 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.hotgame__icon {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.hotgame__icon--icon {
  background-image: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 35px;
  border-radius: 10px;
}

.hotgame__list--name {
  padding-top: 10px;
  font-size: 13px;
}
